In [5]:
import os
from dotenv import load_dotenv
from alpaca_trade_api.rest import REST, TimeFrame

# Ladda API-nycklar från .env-filen
load_dotenv()
API_KEY = os.getenv("ALPACA_API_KEY")
SECRET_KEY = os.getenv("ALPACA_SECRET_KEY")

# Använd paper=True för testhandel
alpaca = REST(API_KEY, SECRET_KEY, base_url="https://paper-api.alpaca.markets")

# Hämta kontoinformation
account = alpaca.get_account()
print(f"Account ID: {account.id}")
print(f"Buying Power: ${account.buying_power}")

Account ID: c337e5a9-441d-4e38-b853-53592ea22966
Buying Power: $100000

In [9]:
import pandas as pd

barset = alpaca.get_bars("AAPL", TimeFrame.Day, limit=5)
df = pd.DataFrame([bar.__dict__['_raw'] for bar in barset])

display(df)

,c,h,l,n,o,t,v,vw
0,232.671,235.23,228.13,521756,228.2,2025-02-11T05:00:00Z,41167440,232.764952